.image-to-show {
  width: 400px;
  height: 400px;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.btn_stop,
.btn_start {
  border: black solid 1px;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}

body {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 100px;
}

.btn_container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
